# Virtual environment
venv/
env/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

venv/
